/*Reset styles*/

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/*Utils*/

.clearfix:before, .clearfix:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.w-80 {
    /*width: 80%;*/
    width: 128px;
}

.w-20 {
    width: 20%;
    width: 32px;
}

.f-left {
    float: left;
}

/*Main styles*/

.calculator {
    width: 170px;
    background: yellow;
    margin: auto;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 3px;
}

.calculator-window {
    height: 30px;
    border: 1px solid #000000;
    border-radius: 2px;
    background: #ffffff;
}

.buttons-holder {
    margin-top: 2px;
    width: 158px;
    height: 126px;
    overflow: hidden;
}


.buttons-container {
    margin: -1px;
    background: red;
}
.btn-wrapper {
    width: 32px;
    height: 32px;
    padding: 1px;
}

.calc-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 1px;
    text-align: center;
    padding: 0;
    line-height: 28px;
    display: block;
    cursor: pointer;
    transition: all 200ms linear;
}

.calc-btn:hover {
    box-shadow: inset 0 0 5px 2px #6a6a6a;
    /*background: aquamarine;*/
}

.calc-btn:active {
    outline: none;
    box-shadow: inset 0 0 10px 3px #6a6a6a;
    /*background: aqua;*/
}

.calc-btn:focus {
    outline: none;
}

.calc-btn.tall {
    height: 62px;
}

.btn-wrapper.tall {
    height: 64px;
}



.table {
    width: 270px;
    min-height: 190px;
    margin: auto;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 3px;
}

.colm1 {
    width: 80px;
    min-height: 50%;
    border: 1px solid #000000;
    background: aqua;
    border-radius: 1px;
    padding: 0;
    line-height: 28px;
    display: block;
    cursor: pointer;
    transition: all 200ms linear;
    float: left;

}

.colm2 {
    width: 80px;
    height: 50%;
    border: 1px solid #000000;
    background: aqua;
    border-radius: 1px;
    padding: 0;
    line-height: 28px;
    display: block;
    float: left;
}

.str {
    width: 70px;
    height: 60px;
    border: 1px solid #000000;
    background: aquamarine;
    border-radius: 1px;
    padding: 0;
    display: block;
}

.container {
    width: 75%;
    margin: 0 auto;
    /*height: 300px;*/
    border: 1px solid #000000;
    background: darkkhaki;
    border-radius: 1px;
}


.as {
    width: 30%;
    background: burlywood;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}
.m {
    width: calc(70% - 20px);
    background: darkgray;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin-left: 20px;
}

.item {
    width: calc((100% - 6%) / 3);
    margin: 1%;
    height: 30px;
    background: red;
    border: 1px solid #000000;
}

.items-wrapper {
    margin: 0 -1%;
    /*width: 510px;*/
}

.back-to-top {
    margin: 0;
    margin-left: -45%;
    height: 30px;
    margin-top: -30px;
}

